@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 213.6 100% 4.9%;

    --primary: 214.12 100% 50%;
    --primary-foreground: 0 0% 100%;

    --card: 0 0% 97%;
    --card-foreground: 213.6 100% 4.9%;
    

    --popover: 0 0% 100%;
    --popover-foreground: 213.6 100% 4.9%;

    --secondary: 0 0% 0%;
    --secondary-foreground: 216 100% 0.98%;

    --muted: 213.6 100% 95.1%;
    --muted-foreground: 0 0% 40%;

    --info: 219 68% 35%;
    --info-foreground: 0 0% 100%;

    --accent: 0 0% 93%;
    --accent-foreground: 214.12 100% 50%;

    --sidebar: 0 0% 97;
    --sidebar-hover: 0 0% 93%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.12 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: linear-gradient(to top left, #007adf, #00ecbc);

    --background: 244 100% 9%;
    --foreground: 220 10% 97.2%;

    --muted: 220 80% 43%;
    --muted-foreground: 219 85% 90%;

    --popover: 235 77% 15%;
    --popover-foreground: 220 10% 97.2%;

    --card: 235 77% 15%;
    --card-foreground: 220 10% 97.2%;

    --border: 224 82% 30%;
    --input: 220 50% 13.2%;

    --info: 220 79% 22%;
    --info-foreground: 0 0% 100%;

    --primary: 220 100% 44%;
    --primary-foreground: 220 10% 97.2%;

    --secondary: 219 100% 78%;
    --secondary-foreground: 220 10% 97.2%;

    --sidebar: 244 100% 6;
    --sidebar-hover: 235 77% 15%;

    --accent: 244 100% 6%;
    --accent-foreground: 220 10% 97.2%;

    --destructive: 0 70% 55%;
    --destructive-foreground: 220 10% 97.2%;

    --ring: 220 100% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@layer utilities{
  .animation-delay-2000{
    animation-delay: 2s;
  }
  .animation-delay-4000{
    animation-delay: 4s;
  }
  .animation-delay-6000{
    animation-delay: 6s;
  }
}